<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week3</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="app" class="position-relative">
    <header class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-0">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">後台</a>
      <button class="navbar-toggler me-3 my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav justify-content-end w-100 w-md-auto px-3 py-1 py-md-2 bg-muted">
        <li class="nav-item">
          <a class="nav-link" href="#">登出</a>
        </li>
      </ul>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-lg-2 d-lg-block bg-light collapse sidebar" id="navbarContent">
          <div class="position-sticky pt-lg-3 text-center text-lg-start">
            <h6 class="px-3 mt-3 mb-1 text-muted">
              功能頁
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link h6 active" href="#">
                  <span class="material-icons align-middle">
                    shopping_cart
                  </span>
                  <span class="align-middle">產品列表</span>
                </a>
              </li>
            </ul>
    
            <h6 class="px-3 mt-3 mb-1 text-muted">
              前台
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link h6" href="#">
                  <span class="material-icons align-middle">
                    home
                  </span>
                  <span class="align-middle">回到首頁</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
    
        <main class="ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1 class="h2 mb-0 fw-bold text-center">產品列表</h1>
          <div class="mb-4 mb-lg-5 text-end">
            <button class="btn btn-primary" type="button" @click.prevent="openModal('new', product)">
              <span class="material-icons align-middle">
                add
              </span>
              <span class="ms-2 align-middle">新增產品</span>
            </button>
          </div>

          <div class="table-responsive mb-lg-4 mb-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="d-none d-md-table-cell">分類</th>
                  <th scope="col">縮圖</th>
                  <th scope="col">產品名稱</th>
                  <th scope="col" class="d-none d-md-table-cell">原價</th>
                  <th scope="col" class="d-none d-md-table-cell">售價</th>
                  <th scope="col" class="d-none d-md-table-cell" width="120">狀態</th>
                  <th scope="col" width="160">功能</th>
                </tr>
              </thead>
              <tbody class="productsList">
                <tr v-for="product in products" :key="product.id">
                  <td class="d-none d-md-table-cell align-middle">{{ product.category }}</td>
                  <td class="align-middle">
                    <div class="thumbnail" :style="{backgroundImage: 'url(' +  product.imageUrl + ')'}"></div>
                  </td>
                  <td class="align-middle">{{ product.title }}</td>
                  <td class="d-none d-md-table-cell align-middle">{{ product.origin_price }}</td>
                  <td class="d-none d-md-table-cell align-middle">{{ product.price }}</td>
                  <td class="d-none d-md-table-cell align-middle">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="enable" v-model="product.is_enabled" true-value="1" false-value="0" @click="toggleProductEnable(product)">
                      <label class="form-check-label" for="enable">
                        {{ product.is_enabled ? '啟用' : '未啟用'}}
                      </label>
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-outline-primary" @click.prevent="openModal('edit', product)">編輯</button>
                      <button type="button" class="btn btn-outline-danger" @click.prevent="openModal('del', product)">刪除</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <pagination :pagination="pagination" @change-page="getProducts"></pagination>

        </main>
      </div>
    </div>

    <edit-product-modal ref="editProductModal" :api="api" :temp-product="tempProduct" @show-toast="showToast" @get-products="getProducts"></edit-product-modal>

    <del-product-modal ref="delProductModal" :api="api" :temp-product="tempProduct" @show-toast="showToast" @get-products="getProducts"></del-product-modal>

    <toast ref="toastMessage" :message="message"></toast>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="js/products.js" type="module"></script>
</body>

</html>
